@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Manrope";

  font-display: swap;
  src:
    url("../fonts/manrope-extrabold.woff2") format("woff2"),
    url("../fonts/manrope-extrabold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Manrope";

  font-display: swap;
  src:
    url("../fonts/manrope-bold.woff2") format("woff2"),
    url("../fonts/manrope-bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Manrope";

  font-display: swap;
  src:
    url("../fonts/manrope-semibold.woff2") format("woff2"),
    url("../fonts/manrope-semibold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Manrope";

  font-display: swap;
  src: url("../fonts/manrope-regular.woff2") format("woff2");
  src: url("../fonts/manrope-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Manrope";

  font-display: swap;
  src: url("../fonts/manrope-light.woff2") format("woff2");
  src: url("../fonts/manrope-light.woff") format("woff");
}
